html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.6rem;
  margin: 1rem 0 1.5rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

h3 {
  font-size: 1.90rem;
}

.text-right{
  text-align: right;
}

.m10 {
  margin: 10px;
}
.m20 {
  margin: 20px;
}
.m30 {
  margin: 30px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}

nav .brand-logo {
  padding: 0 1rem;
}

.btn-block {
  width: 100%;
}

.main {
  min-height: 100vh;
  margin-top: -64px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 64px;
}

.session-story {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.login-box {
  padding: 0 2rem;
  min-width: 300px;
  max-width: 500px;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icons-container .icons {
  min-width: 50px;
  align-items: center;
  justify-content: center;
}

.icons-container .icons .material-icons {
  display: block;
  font-size: 3rem;
  background: #efefef;
  border-radius: 5px;
  padding: 2px;
}

.icons-container .icons .scale-icons {
  display: block;
  font-size: 2.5rem;
  background: #efefef;
  border-radius: 5px;
  padding: 2px;
  color: #444444;
  height: 48px;
  min-width: 48px;
  line-height: 45px;
}

.session-story textarea {
  flex: 1;
}

.session-story .results {
  flex: 0.2;
  text-align: center;
}